@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #F8F8F8; */
     background: linear-gradient(to right,  #4285f4, #ffffff);
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}

.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
    scroll-behavior: smooth;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
    transition: background 0.3s ease-in-out; 
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 0.5s ease-in-out forwards, bounce 0.3s ease-in-out;
}

/* Here is animation css  */


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.incoming {
    /* background: #8F8BE8; */
    background: #5491f5;
    color: #fff;  
}
.outgoing {
    /* background: #e9eafd; */
    background: #72a1f1;
    /* color: #787986; */
    color: #fff;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}